
.card{
    background-color:rgb(118, 175, 175);
    width:40vw;
    min-height: fit-content;
    padding:10px;
    margin-top:20px;
    margin-inline:auto;
    display:flex;
    flex-direction: column;
    row-gap:10px;
    border-radius:10px;
}

.card button{
    border:0;
    outline:0;
    background-color: white;
    color:teal;
    border-radius:5px;
    min-width:20px;
    padding:5px 10px;
    font-weight:bold;
    margin-inline:auto;
}